@charset "utf-8";
/*CSS Document*/

/*++++++++  Media Query  ++++++++*/

/*++++++++++++++++++++++++++++++++*/
/*-------   Desktop(start)   -----*/

	/* ------------------------------------------------ section.water_visual ------------------------------------------------*/
	section.massagechair_visual { width: 100%; height: auto; margin-top: 47px; }
	section.massagechair_visual > div.inner_wrap { width: 100%; height: 250px; }
	/* ------------------------------------------------ section.massagechair_products ------------------------------------------------*/
	section.massagechair_products { width: 100%; height: auto;}
	section.massagechair_products > div.inner_wrap { width: 100%; height: 664px; } 
	section.massagechair_products > div.inner_wrap > p { text-align: center;  font-family: 'NotoSansKR-Medium'; font-size: 25px; padding: 50px 0;  background:url("../images/aircleaner_line.png")no-repeat center 54%;}
	section.massagechair_products div.product_m { width: 100%; height: 664px; }
	section.massagechair_products div.product_m ul { width: 100%; height: 664px; }
	section.massagechair_products div.product_m ul li { float: left; width: 285px; height: 427px; border: 1px solid #e2e2e2; margin-right: 20px; }
	section.massagechair_products div.product_m ul li:nth-child(4n) { margin-right: 0; }
	section.massagechair_products div.product_m ul li:nth-child(5) { margin-top: 20px; }
	section.massagechair_products div.product_m ul li:nth-child(6) { margin-top: 20px; }
	section.massagechair_products div.product_m ul li:nth-child(7) { margin-top: 20px; }
	section.massagechair_products div.product_m ul li:nth-child(8) { margin-top: 20px; }
	section.massagechair_products div.info { text-align: center; }
	section.massagechair_products div.info p.title { font-family: 'NotoSansKR-Medium'; padding: 20px 0 5px 0; }
	section.massagechair_products div.info p.title_en { font-size: 14px; color: #8b8b8b; }
	section.massagechair_products div.info_view { width: 100%; height: 94px; padding: 30px 0; font-size: 18px; }
	section.massagechair_products div.info_view span { padding: 8px 25px; border-radius: 15px; }
	section.massagechair_products div.info_view span#apply { background-color: #a50034; color: #fff; margin-right: 10px;  }
	section.massagechair_products div.info_view span#view { background-color: #fff; border: 0.8px solid #666666; }



	






	


	
	


	

	

